
#app {
  display: flex;
  flex-grow: 1;
  background-color: lightgray;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar button {
  width: 15em!important;
}
.chart {
  width: 60vw;
}
